::selection{
  background:#fff;
  color:#1daeec;
  text-shadow:none;
}
::-moz-selection{
	background:#fff;
	color:#1daeec;
	text-shadow:none;
}
::-webkit-selection{
	background:#fff;
	color:#1daeec;
	text-shadow:none;
}
