<!-- Sliding Tile that shows 100% of the back tile every 3 seconds -->
<span class="grayheading">Show me...</span>
<a class="link login">log in</a>

<div class="tile filters tile-quarter-tall tile-half-wide tile-offset-vertical-quarter" data-speed="750" data-delay="999999999">
    <span class="tile-title">general_info</span>
    <div id="general_filter" class="filter" data-filter="general_info">
    	<div class="row filterContent">
    		<div class="small-12 columns vertWrap">
    			<div class="vertElement">
    				<a class="button callToAction noBG small"><span class="icon-info"></span></a>
    				<span class="buttonLabel">general info</span>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div class="tile filters tile-quarter-tall tile-half-wide tile-offset-vertical-quarter" data-speed="750" data-delay="999999999">
    <span class="tile-title">visitor_info</span>
    <div id="visitor_filter" class="filter" data-filter="visitor">
    	<div class="row filterContent">
    		<div class="small-12 columns vertWrap">
    			<div class="vertElement">
    				<a class="button callToAction noBG small"><span class="icon-link-icon"></span></a>
    				<span class="buttonLabel">visitor info</span>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div class="tile filters tile-quarter-tall tile-half-wide tile-offset-vertical-quarter" data-speed="750" data-delay="999999999">
    <span class="tile-title">exhibitor_info</span>
    <div id="exhibitor_filter" class="filter" data-filter="exhibitor">
    	<div class="row filterContent">
    		<div class="small-12 columns vertWrap">
    			<div class="vertElement">
    				<a class="button callToAction noBG small"><span class="icon-card-user"></span></a>
    				<span class="buttonLabel">exhibitor info</span>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div class="tile filters tile-quarter-tall tile-half-wide tile-offset-vertical-quarter" data-speed="750" data-delay="999999999">
    <span class="tile-title">all</span>
    <div id="all_filter" class="filter" data-filter="general_info visitor exhibitor">
    	<div class="row filterContent">
    		<div class="small-12 columns vertWrap">
    			<div class="vertElement">
    				<a class="button callToAction noBG small"><span class="icon-eye"></span></a>
    				<span class="buttonLabel">all</span>
    			</div>
    		</div>
    	</div>
    </div>
</div>