
	<div class="flipper">
		<div class="front">
			<span class="tile-title">about</span>
			<div class="row buttonContent fourButtons">
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						<a class="button callToAction"><span class="icon-cow"></span></a>
						<span class="buttonLabel">about rabdf</span>
					</div>
				</div>
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						<a class="button callToAction"><span class="icon-award"></span></a>
						<span class="buttonLabel">awards</span>
					</div>
				</div>
				
			</div>
			<div class="row buttonContent">
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						<a class="button callToAction"><span class="icon-calendar"></span></a>
						<span class="buttonLabel">last year</span>
					</div>
				</div>
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						<a class="button callToAction"><span class="icon-partner-sponsors"></span></a>
						<span class="buttonLabel">supporters</span>
					</div>
				</div>	
			</div>
		</div>
	</div>


