
	<div class="flipper">
		<div class="front">
			<span class="tile-title">stand space</span>
			<div class="row buttonContent">
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						<a class="button callToAction"><span class="icon-add-icon orange"></span></a>
						<span class="buttonLabel">book</span>
					</div>
				</div>
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						<a class="button callToAction"><span class="icon-pound-icon orange"></span></a>
						<span class="buttonLabel">pricing</span>
					</div>
				</div>
			</div>
		</div>
	</div>