<div>
	<div class="row footercontent">
	  <div class="small-6 columns contactcolumn">
	    <div class="phonewrap">
	      <a class="w-inline-block phoneicon" href="tel:+448454582711"></a><a class="phonenumber" href="tel:+448452582711" style="background-image: none; cursor: default; background-position: 0% 0%; background-repeat: repeat repeat;">0845 458 2711</a>
	    </div>
	    <div class="emailwrap">
	      <a class="w-inline-block emailicon" href="#"></a><a class="email" href="tel:+448452582711" style="background-image: none; cursor: default; background-position: 0% 0%; background-repeat: repeat repeat;">livestockevent@rabdf.co.uk</a>
	    </div>
	  </div>
	  <div class="small-6 columns erratacolumn">
	    <div class="addresswrap">
	      <div class="address" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">RABDF, Dairy House, Abbey Park, Stareton, Kenilworth, Warwickshire, CV8 2LY</div>
	    </div>
	    <div class="erratawrap">
	      <div class="errata" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">Charity No. 213782, limited by guarantee &amp; registered in London, No.13393</div>
	    </div>
	    <div class="designedbywrap">
	      <div class="designedby" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">Web Design and Web Development by Ghost Design</div>
	    </div>
	  </div>
	</div>
</div>