
	<div class="flipper">
		<div class="front">
			<span class="tile-title">getting here</span>
			<ul data-orbit>
			  <li data-orbit-slide="getting_here_1">
			    <div class="row buttonContent">
			    	<div class="small-6 columns vertWrap">
			    		<div class="vertElement">
			    			<a href="https://www.google.co.uk/maps/preview?authuser=0#!q=The+NEC+Birmingham%2C+Birmingham&data=!4m10!1m9!4m8!1m3!1d94065!2d-1.8636315!3d52.4774376!3m2!1i1260!2i929!4f13.1" class="button callToAction"><span class="icon-location"></span></a>
			    			<span class="buttonLabel">see a map</span>
			    		</div>
			    	</div>
			    	<div class="small-6 columns vertWrap">
			    		<div class="vertElement">
			    			<a class="button callToAction"><span class="icon-address"></a>
			    			<span class="buttonLabel">get directions</span>
			    		</div>
			    	</div>
			    	
			    </div>
			  </li>
			  <li data-orbit-slide="getting_here_2">
				  <div class="row buttonContent">
				  	<div class="small-6 columns vertWrap">
				  		<div class="vertElement">
				  			<a class="button callToAction"><span class="icon-location"></span></a>
				  			<span class="buttonLabel">see stations</span>
				  		</div>
				  	</div>
				  	<div class="small-6 columns vertWrap">
				  		<div class="vertElement">
				  			<a class="button callToAction"><span class="icon-clock"></span></a>
				  			<span class="buttonLabel">get train times</span>
				  		</div>
				  	</div>
				  	
				  </div>
			    
			  </li>
			  <li data-orbit-slide="getting_here_3">
				<div class="row buttonContent">
					<div class="small-6 columns vertWrap">
						<div class="vertElement">
							<a class="button callToAction"><span class="icon-location"></span></a>
							<span class="buttonLabel">see airports</span>
						</div>
					</div>
					<div class="small-6 columns vertWrap">
						<div class="vertElement">
							<a class="button callToAction"><span class="icon-clock"></span></a>
							<span class="buttonLabel">get flight times</span>
						</div>
					</div>
					
				</div>
			    
			  </li>
			  </ul>
			<div class="tabs row">
				<div class="tab small-4 columns currentTab">
					<a href="#" data-orbit-link="getting_here_1">
						<div class="tabIcon">
							<span class="icon-car"></span>
						</div>
						<div class="tabText">
							by car
						</div>
					</a>
				</div>
				<div class="tab small-4 columns">
					<a href="#" data-orbit-link="getting_here_2">
						<div class="tabIcon">
							<span class="icon-train"></span>
						</div>
						<div class="tabText">
							by train
						</div>
					</a>
				</div>
				<div class="tab small-4 columns">
					<a href="#" data-orbit-link="getting_here_3">
						<div class="tabIcon">
							<span class="icon-plane"></span>
						</div>
						<div class="tabText">
							by plane
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
