
	<div class="flipper">
		<div class="front">
			<span class="tile-title">social</span>
			<ul data-orbit>
				  <li data-orbit-slide="social_1">
				    <div class="row twitterList listContent">
				    	<!-- social list: output is three news items -->
				    </div>
				  </li>
				  <li data-orbit-slide="social_2">
				    <div class="row listContent">
				    	<!-- social list -->
				    	<div class="row newsItem">
				    		
				    	</div>
				    	<div class="row newsItem">
				    		
				    	</div>
				    	<div class="row newsItem">
				    		
				    	</div>
				    </div>
				  </li>
				  <li data-orbit-slide="social_3">
				    <div class="row listContent fbList">
				    	<!-- social list -->
				    </div>
				  </li>
			  </ul>
			<div class="tabs row">
				<div class="tab currentTab small-4 columns">
					<a href="#" data-orbit-link="social_1">
						<div class="tabIcon">
							<span class="icon-twitter"></span>
						</div>
						<div class="tabText">
							twitter
						</div>
					</a>
				</div>
				<div class="tab small-4 columns">
					<a href="#" data-orbit-link="social_2">
						<div class="tabIcon">
							<span class="icon-linked-in"></span>
						</div>
						<div class="tabText">
							linkedin
						</div>
					</a>
				</div>
				<div class="tab small-4 columns">
					<a href="#" data-orbit-link="social_3">
						<div class="tabIcon">
							<span class="icon-facebook"></span>
						</div>
						<div class="tabText">
							facebook
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

