<div class="flipper">
	<div class="front">
		<span class="tile-title">the uk's largest livestock event</span>
		<ul data-orbit>
		  <li data-orbit-slide="welcome_1">
		    <div class="row sponsorContent">
		    	<div class="large-4 small-10 small-centered large-uncentered columns sponsorLogoWrap">
		    	<div class="imgWrap"><img src="img/logo.png" class="sponsorLogo"></img></div>
		    	</div>
		    	<div class="large-8 small-10 small-centered large-uncentered columns sponsorText">
		    		<header>
		    			<h2 class="sponsorTagLine">Welcome to the Livestock Event 2014</h2>
		    		</header>
		    		<article>
		    			<p class="sponsorSpiel">
		    				Held in the first week of July each year, the Livestock Event is the leading B2B event for the UK livestock industry. <br />
		    				Principally sponsored by Barclays, we host both cattle and trade exhibitors within a 64,000sqm event area alongside working machinery demonstrations, 4 seminar areas, foot trimming demonstrations, National Dairy & Beef Shows and the National Lleyn Competition.
		    			</p>
		    		</article>
		    	</div>
		    </div>
		   
		  </li>
		  <li data-orbit-slide="welcome_2">
		  <div class="row sponsorContent">
		  	<div class="large-4 small-10 small-centered large-uncentered columns sponsorLogoWrap">
		  		<div class="imgWrap"><span class="icon-barclays"></div>
		  		
		  	</div>
		  	<div class="large-8 small-10small-centered large-uncentered columns sponsorText">
		  		<header>
		  			<h2 class="sponsorTagLine">Proud Sponsor of RABDF</h2>
		  		</header>
		  		<article>
		  			<p class="sponsorSpiel">
		  				This is our promise to you: Our business Banking telephone team aims to resolve every query straight away. If your query can't be settled there and then, you'll be given a named point of contact.
		  			</p>
		  		</article>
		  	</div>
		  </div>
		    
		  </li>
		  <li data-orbit-slide="welcome_3">
		<div class="row sponsorContent">
			<div class="large-4 small-10 small-centered large-uncentered columns sponsorLogoWrap">
				<div class="imgWrap"><span class="icon-john-deere-logo"></span></div>
			</div>
			<div class="large-8 small-10small-centered large-uncentered columns sponsorText">
				<header>
					<h2 class="sponsorTagLine">Proud Sponsor of RABDF</h2>
				</header>
				<article>
					<p class="sponsorSpiel">
						This is our promise to you: Our business Banking telephone team aims to resolve every query straight away. If your query can't be settled there and then, you'll be given a named point of contact.
					</p>
				</article>
			</div>
		</div>
		    
		  </li>
		  <li data-orbit-slide="welcome_4">
		    <div class="row sponsorContent">
		    	<div class="large-4 small-10 small-centered large-uncentered columns sponsorLogoWrap">
		    	<div class="imgWrap"><span class="icon-zoetis-logo"></span></div>
		    	</div>
		    	<div class="large-8 small-10small-centered large-uncentered columns sponsorText">
		    		<header>
		    			<h2 class="sponsorTagLine">Proud Sponsor of RABDF</h2>
		    		</header>
		    		<article>
		    			<p class="sponsorSpiel">
		    				This is our promise to you: Our business Banking telephone team aims to resolve every query straight away. If your query can't be settled there and then, you'll be given a named point of contact.
		    			</p>
		    		</article>
		    	</div>
		    </div>
		    
		  </li>
		  <li data-orbit-slide="welcome_5">
		   <div class="row sponsorContent">
		   	<div class="large-4 small-10 small-centered large-uncentered columns sponsorLogoWrap">
		   	<div class="imgWrap"><span class="icon-giltspur-logo"></span></div>
		   	</div>
		   	<div class="large-8 small-10small-centered large-uncentered columns sponsorText">
		   		<header>
		   			<h2 class="sponsorTagLine">Proud Sponsor of RABDF</h2>
		   		</header>
		   		<article>
		   			<p class="sponsorSpiel">
		   				This is our promise to you: Our business Banking telephone team aims to resolve every query straight away. If your query can't be settled there and then, you'll be given a named point of contact.
		   			</p>
		   		</article>
		   	</div>
		   </div>
		   
		  </li>
		  <li data-orbit-slide="welcome_6">
		   <div class="row sponsorContent">
		   	<div class="large-4 small-10 small-centered large-uncentered columns sponsorLogoWrap">
		   	<div class="imgWrap"><span class="icon-dairyco-logo"></span></div>
		   	</div>
		   	<div class="large-8 small-10small-centered large-uncentered columns sponsorText">
		   		<header>
		   			<h2 class="sponsorTagLine">Proud Sponsor of RABDF</h2>
		   		</header>
		   		<article>
		   			<p class="sponsorSpiel">
		   				This is our promise to you: Our business Banking telephone team aims to resolve every query straight away. If your query can't be settled there and then, you'll be given a named point of contact.
		   			</p>
		   		</article>
		   	</div>
		   </div>
		    
		  </li>
		</ul>
		<div class="tabs row">
			<div class="tab currentTab small-2 columns">
				<a href="#" data-orbit-link="welcome_1">
					<div class="tabIcon">
						<span class="icon-cow">
					</div>
					<div class="tabText">
						rabdf
					</div>
				</a>
			</div>
			<div class="tab small-2 columns">
				<a href="#" data-orbit-link="welcome_2">
					<div class="tabIcon">
						<span class="icon-barclays">
					</div>
					<div class="tabText">
						barclays
					</div>
				</a>
			</div>
			<div class="tab small-2 columns">
				<a href="#" data-orbit-link="welcome_3">
					<div class="tabIcon">
						<span class="icon-john-deere-logo">
					</div>
					<div class="tabText">
						john deere
					</div>
				</a>
			</div>
			<div class="tab small-2 columns">
				<a href="#" data-orbit-link="welcome_4">
					<div class="tabIcon">
						<span class="icon-zoetis-logo">
					</div>
					<div class="tabText">
						zoetis
					</div>
				</a>
			</div>
			<div class="tab small-2 columns">
				<a href="#" data-orbit-link="welcome_5">
					<div class="tabIcon">
						<span class="icon-giltspur-logo">
					</div>
					<div class="tabText">
						giltspur
					</div>
				</a>
			</div>
			<div class="tab small-2 columns">
				<a href="#" data-orbit-link="welcome_6">
					<div class="tabIcon">
						<span class="icon-dairyco-logo">
					</div>
					<div class="tabText">
						dairyco
					</div>
				</a>
			</div>
		</div>
	</div>
</div>