<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Livestock Event 2014</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//ajax.googleapis.com" rel="dns-prefetch">
    <link href="css/animate+animo.css" rel="stylesheet" type="text/css">
    <link href="css/style.min.css" rel="stylesheet">

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--and jQuery 2. This is getting big...-->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="js/vendor/animo.js" type="text/javascript"></script>
    <script src="js/vendor/pace.min.js"></script>
    <script src="js/vendor/succinct.js"></script>
    <!--ember-specific stuff-->
    <script src="js/vendor/handlebars.js"></script>
    <script src="js/vendor/ember.js"></script>
    <script src="js/vendor/ember-data.js"></script>
    <!--remove mobile device click delay-->
    <script src="js/vendor/fastclick.js"></script>
    <script src="js/vendor/jquery.mixitup.min.js"></script>
    <script src="js/vendor/jquery.transit.min.js"></script>
  </head>
  <body>
  <script type="text/javascript">
    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);
  </script>
  
    <!--start content-->
    
    <div class="container">
    {{outlet}}
          <?php include 'partials/header/header.php'; ?>
          <?php include 'partials/tiles/testimonials/testimonials.php'; ?>
          <?php include 'partials/tiles/welcome/welcome.php'; ?>
          <?php include 'partials/tiles/getting_there/getting_there.php'; ?>
          <?php include 'partials/tiles/visitor_tickets/visitor_tickets.php'; ?>
          <?php include 'partials/tiles/exhibitor_stand_space/exhibitor_stand_space.php'; ?>
          <?php include 'partials/tiles/news/news.php'; ?>
          <?php include 'partials/tiles/images/image.php'; ?>
          <?php include 'partials/tiles/social/social.php'; ?>
          <?php include 'partials/tiles/contact/contact.php'; ?>
          <?php include 'partials/tiles/about/about.php'; ?>
          <?php include 'partials/tiles/contractors/contractors.php'; ?>
          <?php include 'partials/footer/footer.php'; ?>
    </div>




    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>');</script>
    <script src="js/scripts.min.js"></script>
    

    <script>
    (function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
    (f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
    l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-XXXXXXXX-XX');
    ga('send', 'pageview');
    </script>

    <!--scripts-->

    <script src="js/foundation/foundation.js"></script>

    <script src="js/foundation/foundation.abide.js"></script>

    <script src="js/foundation/foundation.alerts.js"></script>

    <script src="js/foundation/foundation.clearing.js"></script>

    <script src="js/foundation/foundation.cookie.js"></script>

    <script src="js/foundation/foundation.dropdown.js"></script>

    <script src="js/foundation/foundation.forms.js"></script>

    <script src="js/foundation/foundation.interchange.js"></script>

    <script src="js/foundation/foundation.joyride.js"></script>

    <script src="js/foundation/foundation.magellan.js"></script>

    <script src="js/foundation/foundation.orbit.js"></script>

    <script src="js/foundation/foundation.placeholder.js"></script>

    <script src="js/foundation/foundation.reveal.js"></script>

    <script src="js/foundation/foundation.section.js"></script>

    <script src="js/foundation/foundation.tooltips.js"></script>

    <script src="js/foundation/foundation.topbar.js"></script>

    <script src="js/vendor/gridism.js"></script>

    <script>
    $(document).foundation('orbit', {
      timer_speed: 999999999,
      animation_speed: 250
    });
    </script>
    <script src="js/vendor/MetroJs.min.js" type="text/javascript"></script>

  <!--placeholder support for IE-->
  <script src="js/vendor/jquery.placeholder.min.js" type="text/javascript"></script>
    <!--google drive as temp db-->
    <script src="js/vendor/tabletop.js" type="text/javascript"></script>
    <script type="text/javascript">

    

    window.onload = function() { init() };
    var public_spreadshseet_url = 'https://docs.google.com/spreadsheet/pub?key=0Aq8caJ2utTLjdDRGRU5Yd1o4RlQ1cG9vRktiMFh0d1E&output=html;'
    
    function init() {
    Tabletop.init( { url: public_spreadshseet_url,
    callback: showInfo,
    simpleSheet: true } )
    }
    
    function showInfo(data) {
    alert("Successfully processed!")
    console.log(data);
    }

    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".live-tile").not('.staticTile').liveTile();
        });
    </script>
    <!--filters-->
    <script type="text/javascript">
      $(function() {
        $('.container').mixitup({
          onMixEnd: function() {
            gridify()}
        });
      });
    </script>

    <!--maintaining the grid-->
    <script type="text/javascript">
      $(function() {        
        gridify();
      });
    </script>

    <script type="text/javascript">

    </script>

    <!--make placeholders compatible with IE-->
    <script type="text/javascript">

    $('input, textarea').placeholder();

    </script>

    <!--make tabs function properly -->

    <script type="text/javascript">

    $('.tab').click(function() {
        $(this).siblings().removeClass('currentTab prevTab');
        $(this).addClass('currentTab');
        var prevTab = $(this).prev('.tab');
        $(prevTab).addClass("prevTab");
    })

    </script>

    <!--Ember app-->

    <script type="text/javascript" src="">
    $.getScript("booking/js/application.js", function() {
        console.log('Ember app loaded');
        //Anything here that you want to hook before Ember loads
    }
    </script>

  </body>
</html>
