/*personal variables*/

$rabdfBlue: #1daeec;
$rabdfOrange: #f59331;
$rabdfPink: #d84f9a;
$rabdfGreen: #79b94a;
$rabdfGray: #515153;
$rabdfLightGray: #979799;

// Media Queries

$mobile-screen: 360px;
$small-screen: 720px;
$medium-screen: 972px;
$large-screen: 1440px;
$hd-screen:1800px;
$almostimac-screen:2160px;

/*errata*/

.floatClear {
	clear:both;
}

.disparu {
	display: none !important;
}


/*all tiles*/

.container .mix{
    opacity: 0;
    display: none;
}

.tile {
	background-color: $rabdfBlue;
	&.rabdfpink {
		background-color: $rabdfPink;
	}
	&.rabdforange {
		background-color: $rabdfOrange;
	}
	&.rabdflightgray {
		background-color: $rabdfLightGray;
	}
	&.content-tile > span {
		display:block;
		bottom:294px;
		padding: 0;
		border-bottom: 1px solid lighten($rabdfBlue, 4);
		text-align:center;
		text-transform: uppercase;
		position:absolute;
		left:0;
		top:24px;
		font-size:1.2em;
		width:100%;
		&:before {
			content: " ";
			position: absolute;
			z-index: 999999;
			left: 0px;
			right: 0px;
			bottom: 0px;
			border-bottom: 1px solid darken($rabdfBlue, 4);
		}
	};
	&.content-tile.tile-half-tall > span {
		bottom:104px;
		border-color:lighten($rabdfOrange, 4);
		&:before {
			border-color:darken($rabdfOrange, 4);
		}
	}
	&.content-tile.tile-half-tall.rabdfpink > span {
		border-color:lighten($rabdfPink, 4);
		&:before {
			border-color:darken($rabdfPink, 4);
		}
	}
}

/*logo*/

.logo {
	float:left;
	background-image:url('../img/logo.png');
	background-size:contain;
	background-repeat:no-repeat;
	div {
		background-color:transparent !important;
	}
}

/*filters*/

.grayheading {
	display: block;
	bottom: -47px;
	height: 0;
	left: 12px;
	font-size: 2em;
	position: relative;
	color:$rabdfLightGray;
}

.link.login {
	display: block;
	bottom: -62px;
	height: 0;
	text-align: right;
	right:12px;
	font-size: 1em;
	position: relative;
	color: #979799;
	text-transform: uppercase;
	&:hover {
		color:white;
	}
}

.filters {

	cursor: pointer;

	#general_filter {

		background-color:$rabdfBlue;

	}

	#visitor_filter {

		background-color:$rabdfPink;

	}
	
	#exhibitor_filter {

		background-color:$rabdfOrange;

	}

	#all_filter {

		background-color:$rabdfGreen;

	}
}

/*testimonials tile*/

.testimonials {
	clear:both;
}

/*welcome tile*/

.welcome {

}

/*getting_there tile*/

.getting_there {
	
}

/*visitor_tickets tile*/

.visitor_tickets {
	
}

/*exhibitor_stand_space tile*/

.exhibitor_stand_space {
	
}

/*news tile*/

.news {
	
}

/*social tile*/

.social {
	
}

/*contact tile*/

.contact {
	
}

/*about tile*/

.about {
	
}

/*contractors tile*/

.contractors {
	
}

/*image tiles*/

.filler_image {
	
}

/*general overrides*/
