.sprite-calandar-icon{ background-position: 0 0; width: 77px; height: 79px; } 
.sprite-car-grey-icon{ background-position: 0 -129px; width: 41px; height: 44px; } 
.sprite-car-white-icon{ background-position: 0 -223px; width: 41px; height: 44px; } 
.sprite-clock-grey-icon{ background-position: 0 -317px; width: 43px; height: 44px; } 
.sprite-clock-white-icon{ background-position: 0 -411px; width: 43px; height: 44px; } 
.sprite-connect-icon{ background-position: 0 -505px; width: 96px; height: 97px; } 
.sprite-cow-icon{ background-position: 0 -652px; width: 96px; height: 59px; } 
.sprite-direction-icon{ background-position: 0 -761px; width: 97px; height: 41px; } 
.sprite-email-grey-icon{ background-position: 0 -852px; width: 50px; height: 35px; } 
.sprite-email-white-icon{ background-position: 0 -937px; width: 50px; height: 35px; } 
.sprite-eye-grey-icon{ background-position: 0 -1022px; width: 54px; height: 35px; } 
.sprite-eye-white-icon{ background-position: 0 -1107px; width: 54px; height: 35px; } 
.sprite-facebook-grey-icon{ background-position: 0 -1192px; width: 24px; height: 45px; } 
.sprite-facebook-white-icon{ background-position: 0 -1287px; width: 24px; height: 45px; } 
.sprite-follow-icon{ background-position: 0 -1382px; width: 96px; height: 97px; } 
.sprite-globe-icon{ background-position: 0 -1529px; width: 86px; height: 85px; } 
.sprite-handshake-icon{ background-position: 0 -1664px; width: 94px; height: 77px; } 
.sprite-large-clock-icon{ background-position: 0 -1791px; width: 83px; height: 86px; } 
.sprite-large-eye-icon{ background-position: 0 -1927px; width: 82px; height: 53px; } 
.sprite-like-us{ background-position: -147px 0; width: 96px; height: 97px; } 
.sprite-linkedin-grey-icon{ background-position: -147px -147px; width: 45px; height: 44px; } 
.sprite-linkedin-white-icon{ background-position: -147px -241px; width: 45px; height: 44px; } 
.sprite-more-active-icon{ background-position: -147px -335px; width: 40px; height: 40px; } 
.sprite-more-passive-icon{ background-position: -147px -425px; width: 40px; height: 40px; } 
.sprite-news-date-icon{ background-position: -147px -515px; width: 96px; height: 97px; } 
.sprite-orange-plus-icon{ background-position: -147px -662px; width: 80px; height: 83px; } 
.sprite-orange-pound-icon{ background-position: -147px -795px; width: 52px; height: 83px; } 
.sprite-phone-grey-icon{ background-position: -147px -928px; width: 54px; height: 37px; } 
.sprite-phone-white-icon{ background-position: -147px -1015px; width: 54px; height: 37px; } 
.sprite-plane-grey-icon{ background-position: -147px -1102px; width: 42px; height: 43px; } 
.sprite-plane-white-icon{ background-position: -147px -1195px; width: 42px; height: 43px; } 
.sprite-red-plus-icon{ background-position: -147px -1288px; width: 80px; height: 83px; } 
.sprite-red-pound-icon{ background-position: -147px -1421px; width: 52px; height: 83px; } 
.sprite-rosette-icon{ background-position: -147px -1554px; width: 71px; height: 99px; } 
.sprite-speechbubble-icon{ background-position: -147px -1703px; width: 520px; height: 399px; } 
.sprite-train-grey-icon{ background-position: -717px 0; width: 41px; height: 48px; } 
.sprite-train-white-icon{ background-position: -717px -98px; width: 41px; height: 48px; } 
.sprite-twitter-grey-icon{ background-position: -717px -196px; width: 54px; height: 40px; } 
.sprite-twitter-white-icon{ background-position: -717px -286px; width: 54px; height: 40px; } 
